# Python's Arithmatic Operators

** For example, if: 
a = 30
b = 10

|Operator | Meaning | Example
|-------- | ------- | -------
| + | Addition | a + b = 30
| - | Subtraction | a – b = 20
| * | Multiplication | a * b = 300
| / | Division	| a/b = 2
| % | Modulus (Remainder) | a % b = 0
| ** | Exponent | a**b = 30 to the power 10 (30 ^10)
| //	| Floor Division (Quotient) | 9 // 2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0

# Word problem based on Python's Arithmatic Operators

## Question 1: 
The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [ ]:
# Question 1: Answers (Without Variables)

## Question 2:
A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

In [ ]:
# Question 2: Answers

# Variable (in python or computer science)

A variable is a `storage location` in `computer's memory (RAM)`, when it is running a program.

A variable is composed of 3 parts:
1. `Name` of the variable
2. `Type` of the variable
3. `Value` of the variable

- Good things about variable is once you have defined it, you can use the same value again and again
- Another advantage is, if you decide to change the variable (value or type), you only have to change it once.

## Defining a variable

```
# Define the variable for π and radius
pi = 3.1415
radius = 20

area = pi * radius * radius
```
## Rules of creating a variable in python

|No.| Description | Examples (if any) |
|---|------------|--------------------|
|1| Variable name MUST start with an alphabet or underscore(_) character | `Valid` => age, _age,  Age, radius_of_a_circle  
|2| Variable name can only contain A-Z,a-z,0-9 and underscore(_) | `see above`
|3| Variable name cannot be started witha  number  | `Invalid` => 1age,  9lives
|4| No special keyboard characters are allowed in variable names; such as such as $,%,#,&,@.-,^ | `Invalid` => ^age, a$ge, age_*, +age
|5| Variable names are case sensitive | `age` and `AGE` and `Age` will be assumed as different
|6| Python reserver keywords are not allows | Example => `class`, `for`, `def`, `del`, `is`, `else`, `try`, `from`, etc.

In [ ]:
pi = 3.1415
radius = 20
area = pi * radius * radius

type(pi)
type(radius)
type(area)

In [1]:
# Question 1: Answers (With Variables)

town_population = 198568
number_of_men = 45312 
number_of_women = 35678 

number_of_children = town_population - (number_of_men + number_of_women)

print("There are total {} number of children.".format(number_of_children))

There are total 117578 number of children.

In [ ]:
# Question 2: Answers (With Variables)

number_of_pencils = ?
total_number_of_boxes = ?

total_number_of_pencils = ? * ?

## Question 3:
Linda bought a coat for $2265 and a saree for $2150. She gave $5000 to the shopkeeper. How much money did the shopkeeper return to her?

In [ ]:
# Question 3: Answers (Use variables)

## Question 4:
The cost of 21 TV sets is $95844. Find the cost of one TV set.

In [ ]:
# Question 4: Answer (Use Variables)

## Question 5:
A factory produces 24532 bulbs in a month. What is its annual production?

In [ ]:
# Question 5: Answer (Use Variable)

## Question 6:
There are 145968 bags of sugar, 236487 bags of wheat and some bags of rice in a godown. It the total number of bags in the godown is 450000, find the number of bags of rice.

In [ ]:
# Question 6: Answer (Use Variable)

## Question 7:
A factory manufactured 483685 toys in three weeks. The production in first week was 146345 toys and in second week 138152 toys. Find the production in the third week.

In [ ]:
# Question 7: Answer (Use Variable)

## Question 8:
The cost of a sofa set is $9372. How much will 124 such sofa sets cost?

In [ ]:
# Question 8: Answer (Use Variable)

## Question 9:
There are 86 rooms in a school. 4356 students study there. Equal number of students sits in each room?

In [ ]:
# Question 9: Answer (Use Variable)

## Question 10:
1575 students of a school want to go Agra by bus. If one bus can carry 75 students, how many buses are required to carry all the students?

In [ ]:
# Question 10: Answer (Use Variable)